.container {
  margin: 7% 20%;
}


.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6
{
  color: black;
  font-weight: bold;
  margin: 2rem 0 1rem 0;
  font-size: 1.6rem;
}  

.markdown p {
  color: rgb(14, 14, 14);
  margin-bottom: 1rem
}

.markdown pre {
  margin-bottom: 1rem;
}


.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
  color: black !important;
  font-size: 1.1rem;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown em a, .markdown a {
  color: rgb(72, 72, 217);
}
.markdown em a:hover, .markdown a:hover {
  text-decoration: underline;
}

.markdown ul li,
.markdown ol li {
  list-style-type: disc;
  margin-left: 2rem;
}

@media screen and (max-width: 992px) {
  .container {
    margin: 7%;
  }
}
